<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Data API</title>
</head>
<body>
<h1>Weather Data API</h1>
<p>URL format: http://127.0.0.1:5000/api/v1/station/date</p>
<p><u>Examples</u>:<br>
One station, one day: http://127.0.0.1:5000/api/v1/10/19881025<br>
One station, one year: http://127.0.0.1:5000/api/v1/10/yearly/1988<br>
One station, all dates: http://127.0.0.1:5000/api/v1/10</p>
<p><br>See below for station codes:</p>
<p>{{data|safe}}</p>
</body>
</html>